main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-icon {
  width: 60px;
  height: 60px;
}
